
<.flash_group flash={@flash} />
<div class="p-10 flex align-center">
  <div class="mx-auto w-full">

  <%= for item <- @items do %>
    <div id="react-section" phx-hook="ItemHook">
      <cart-item thumbnail={item.thumbnail} name={item.name} price={item.price} size={item.size} qty={item.qty} />
    </div>
  <% end %> 

  </div>
</div>
